:root {
    --font-color: #333;
    --background-color: #eee;
    --link-color: cornflowerblue;
  }
  
  /* 2 */
  [data-theme="dark"] {
    --font-color: #eee;
    --background-color: #333;
    --link-color: lightblue;
  }
  
  /* 3 */
  body {
    background-color: var(--background-color) !important;
    color: var(--font-color) !important;
  }
  
  a {
    color: var(--link-color);
  }
  